body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white; 
  }
  
  
  
  
  
  
  
  
  
  
  /* Optional button styling */ 
  button{
    width: auto; 
    height: auto;
    font-size: 20px;
    font-weight: bold; 
    border-radius: 30px;
    padding: 10px; 
    background-color: rgb(9, 22, 22); 
    color: white; 
    border: 5px solid black; 
    display: inlineblock;
  }
  
  .hidden{
    display:none;
  }